@import './utils/variables';

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 80dvw;
  background-color: $light-gray;
  height: 100dvh;
  display: grid;
  margin: auto;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

@import './grid-layout';
