/* primary colors */
$moderate-violet: hsl(263, 55%, 52%);
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blackfish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

/* neutral colors */
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);
